<div class="md-padding" layout="column" >
    <md-content layout-align="center center" layout="row" style="position: absolute; top: 5px; left: 10px; font-size:24px;">
        <div ng-click="timerMinus()" style="cursor: pointer;"><md-icon>remove</md-icon></div>
        <h1 style="padding: 0 10px 0 10px; margin-top:0px;margin-bottom:10px;"> {{ timer.time | date:'mm:ss'}}</h1>
        <div ng-click="timerPlus()" style="cursor: pointer;"><md-icon>add</md-icon></div>
        <md-button ng-click="timerStart()" style="margin: 0 10 0 10;">
            <md-icon>play_arrow</md-icon>
        </md-button>
        <md-button ng-click="timerStop()" style="margin-top:0px; margin-bottom:0px;">
            <md-icon>stop</md-icon>
        </md-button>
    </md-content>
    <md-content layout="row">
        <md-content flex="50" md-whiteframe="1" class="md-padding">
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span flex>Puzzle Control</span>                    
                    <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>                    
                    <md-button ng-click="showConfirm($event)">Reset</md-button>
                    <md-button ng-click="loadQuest()" class="md-raised">Load</md-button>                    
                </div>
            </md-toolbar>
            <md-list class="md-dense" >
                <md-list-item ng-show="{{ GameStates.length == 0 }}">
                    <h1>ROOM IS NOT READY</h1>
                </md-list-item>
                
                <md-list-item class="md-3-line" ng-repeat="key in GameStates">
                    <div class="md-list-item-text" layout="column"  ng-class="{ 'PuzzleActive': key.solved }">
                        <h2 ng-class="{ 'PuzzleActive': key.solved }">{{ key.name }}</h2>
                        <h4 ng-class="{ 'PuzzleActive': key.solved }" style="overflow:hidden" ng-repeat="register in key.lastState.IR">{{ register }}</h4>
                        <md-button class="md-secondary" ng-disabled="key.solved" aria-label="Puzzle Status" ng-repeat="register in key.lastState.HR"  ng-click="activatePuzzle(key, register)" >{{ register.name }} </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <md-content flex="50" md-whiteframe="2" class="md-padding">
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>AUDIO List</span>
                    <div ng-hide="!isSoundPlaying" style="cursor: pointer;" ng-click="stopSound()"><md-icon>stop</md-icon></div>
                    <md-progress-linear md-mode="determinate" value="{{audio.progress*100}}"></md-progress-linear>                    
                </div>
            </md-toolbar>
 

            <div class="container-fluid">

                <div ng-repeat="hint in hints">
                    <md-button class="md-raised" ng-click="playHint( hint )">Play: {{ hint.name }}</md-button>
                </div>
                
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </md-content>
    </md-content>
</div>